<div class="card">
  <div class="card-body">
    <div class="custom-control custom-switch">
      <div class="col">
        <input type="checkbox" class="custom-control-input" id="{{coin.id}}" (change)="addToRealTime()" [checked]="check" >
        <label class="custom-control-label" for="{{coin.id}}"></label>
      </div>
    </div>
    <div *ngIf="!coin.id" class="spinner-border" role="status">
      <span class="sr-only"></span>
 </div> 
    <h5 class="card-title">{{coin.symbol}}</h5>
    <p class="card-text">{{coin.name}}</p>

    <button (click)="getMoreInfo()" class="btn btn-primary">
      for more info
    </button>
    <p></p>
    
      <div class="collapse show" [ngClass]="{show: show}">
        <app-more-info [moreInfo]="this.moreInfo"></app-more-info>
      </div>
    </div>
  </div>