.parallax {
    height: 100%;
    /* The image used */
    background-image: url("http://www.up2me.co.il/imgs/11412728.jpg");
    /* Set a specific height */
    min-height: 430px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax1 {
    height: 100%;
    /* The image used */
    background-image: url("http://www.up2me.co.il/imgs/46487746.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }