<div class="parallax"></div>

<div style="background-color:rgb(154, 180, 209);font-size:36px; text-align: center; padding: 2%;">
    Hi guys, Welcome to my cryptocurrency exchange website
</div>
<div class="parallax1"></div>

<div style="background-color:rgb(154, 180, 209);font-size:36px; text-align: center; padding: 2%;">
    Here you can get the full information about all the existing cryptocurrencies in the world, and their value relative to the dollar, euro and shekel</div>

<div class="parallax"></div>
<div style="background-color:rgb(154, 180, 209);font-size:36px; text-align: center; padding: 2%;">
    So enjoy the fruits of my labor, and do not forget to make money, lots of money!

    On the about page you can read a little about me, if it interests you</div>
